

#cards {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}


.flex-container {
    display: flex;
    flex-direction: row; /* or column, row-reverse, column-reverse */
    justify-content: space-evenly; /* or center, flex-start, flex-end, space-around, space-evenly */
    align-items: stretch; /* or flex-start, flex-end, stretch, baseline */
    flex-wrap: wrap; 
    
  }

  .flex-item {
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }

  #bookImg {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
  }